.list {
  top: 20%;
  width: 50%;
  display: grid;
  grid-template-columns: 450px 450px 450px;
  list-style-type: none;
  grid-gap: 30px;
}
.comment-list {
  position: relative;
  background-color: rgb(168, 158, 158);
  border-radius: 40px;
  left: 10%;
  right: 15%;
  width: 80%;
  padding: 30px;
}

.delete-button {
  border-radius: 30px;
  color: white;
  background-color: red;
}
.delete-button:hover {
  background-color: darkred;
  color: white;
  font-weight: bold;
  font-style: italic;
}
.delete-button:active {
  background-color: white;
  color: red;
}

.filters {
  position: absolute;
  top: 15%;
  background-color: #cccccc;
}

.nav {
  position: relative;
  gap: 20px;
  margin: 20px;
}

.select-box {
  padding: 15px;
  background-color: grey;
  text-align: center;
  position: relative;
  left: 39%;
  border-radius: 20px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}
.home-page {
  position: absolute;
  top: 20%;
}

.nav-bar {
  background-color: grey;
  border-radius: 60px;
  height: 50px;
  text-align: center;
  align-content: center;
}

.list-item {
  height: 80%;
  padding: 30px;
  background-color: gray;
  border-radius: 80px;
  align-content: center;
  top: 20%;
}
.list-item:hover {
  border: 5px solid rgb(255, 255, 255);
  padding: 25px;
}
.header {
  position: absolute;
  top: 18%;
  left: 43%;
  width: 160px;
  height: 60px;
  padding: 10px;
  border-radius: 30px 0 0 30px;
  text-align: right;
  margin: -100px 0 0 -100px;
  background-color: red;
  color: #cccccc;
  z-index: 1;
}
.home {
  position: absolute;
  top: 1%;
  background-color: #cccccc;
  border-radius: 30px;
  width: 80px;
  text-align: center;
  padding: 10px;
}
.northcoders-logo {
  width: 80px;
  height: 80px;
  align-self: center;
  position: absolute;
  top: 6%;
  left: 61%;
  border-radius: 30px;
}
.home:hover {
  content: "sign into account";
  background-color: white;
  color: red;
  font-size: larger;
  text-decoration: underline;
}
.header-end {
  position: absolute;
  top: 18%;
  left: 55%;
  width: 160px;
  height: 60px;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  text-align: left;
  margin: -100px 0 0 -100px;
  background-color: #cccccc;
  color: red;
}
.header-end:hover {
  background-color: red;
  color: #cccccc;
}
.header:hover {
  background-color: #cccccc;
  color: red;
}
.images {
  border-radius: 80px;
  padding: 10px;
  height: 200px;
  width: 350px;
}

.author-name {
  color: grey;
  font-size: large;
}

.title {
  background-color: red;
  padding: 20px;
  border-radius: 30px;
  color: white;
}

.comment-title {
  background-color: grey;
  color: white;
  border-radius: 30px;
  width: 350px;
  height: 40px;
}
.delete-comment {
  background-color: red;
  border-radius: 30px;
  height: 300px;
  width: 600px;
  position: relative;
  text-align: center;
  left: 40%;
}
.err-message {
  color: white;
  text-decoration: underline;
}

.link {
  color: white;
  border-radius: 40px;
  height: 80px;
}
.link:hover {
  height: 100px;
  width: 200px;
  font-size: larger;
  background-color: white;
  color: red;
  padding: 10px;
  text-decoration: underline;
}

article {
  text-align: center;
  align-content: center;
}

.article-img {
  height: 50%;
  width: 50%;
  border-radius: 80px;
}

.button-18 {
  align-items: center;
  background-color: red;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: white;
  color: red;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(
    100% 100% at center,
    hsla(0, 0%, 60%, 0) 47.8%,
    hsl(0, 0%, 60%) 48%
  );
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em, 1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
    0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0, 90%, 75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
    0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    70% 90%,
    70% 100%,
    30% 100%,
    40% 90%,
    0% 30%
  );
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(
      100% 100% at center,
      hsl(0, 0%, 60%) 4.8%,
      hsla(0, 0%, 60%, 0) 5%
    ),
    linear-gradient(
        hsla(0, 0%, 55%, 0) 46.9%,
        hsl(0, 0%, 65%) 47% 52.9%,
        hsla(0, 0%, 65%, 0) 53%
      )
      50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from,
  to {
    transform: rotate(4deg) translate(-0.8em, 1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em, 1.85em);
  }
}

@keyframes hamsterHead {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from,
  90%,
  to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-30deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(20deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}

.input {
  background-color: white;
  border-radius: 40px;
  height: 30px;
  width: 300px;
  border-color: red;
}

.comment-inputs {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 30%;
  right: 50%;
  width: 40%;
  height: 40%;
}

.review {
  background: rgb(168, 166, 166);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  align-content: center;
}
.review-header {
  background-color: grey;
  position: relative;
  top: -30%;
  left: 30%;
  border-radius: 30px;
  width: 40%;
}
#body-text {
  position: absolute;
  left: 25%;
  width: 50%;
  background-color: grey;
  color: white;
  border-radius: 30px;
  font-weight: bold;
}
#author-name {
  position: absolute;
  top: 70%;
  left: 30%;
  width: 40%;
  background-color: grey;
  color: white;
  border-radius: 30px;
}
