.list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.list-item {
  width: 1000px;
  height: 80%;
  padding: 30px;
  gap: 10px;
}

.header {
  color: red;
}
.images {
  border-radius: 80px;
  padding: 10px;
  height: 200px;
}

.author-name {
  color: grey;
  font-size: large;
}

.title {
  background-color: red;
  padding: 20px;
  border-radius: 30px;
  color: white;
}

.comment-title {
  background-color: red;
  border-radius: 30px;
  width: 350px;
  height: 30px;
}

.link {
  background-color: red;
  color: white;
  border-radius: 50px;
}
article {
  text-align: center;
  align-content: center;
}

.article-img {
  height: 50%;
  width: 50%;
  border-radius: 80px;
}
